*{
    margin: 0;
    padding: 0;
}
.faded-y{
    color:#f47a29af ;
}
/* The start of B-BBEE section */
.B-BBEE{
    margin: 0 50px;
}

.B-BBEE_background{
    background-color: #0074A7;
    margin: 10px 6px;
    padding: 16px;
    border-radius: 6px;
}

.B-BBEE_calculation{
    background-color: #fff;
    border-radius: 6px;
    border: 3px solid #fff;
    padding-bottom: 32px 0;
    margin-bottom: 32px;
    padding: 16px;
}
.B-BBEE_disclaimer{
    background-color: #fff;
    border: 3px solid #fff;
    border-radius: 6px;
    margin-bottom: 16px;
    padding: 16px;
    color: #414042;
    padding-left: 20px;
}
.B-BBEE_disclaimer h5{
    font:20px Poppins,sans-serif;
    display: flex;
    justify-content: center;
    margin:0 0 8px;
}

.B-BBEE_disclaimer > p{
    font:13px Poppins,sans-serif;
    font-weight:lighter;
    margin: 0px 0px 16px;
  
}

.B-BBEE_calculation h4{
    display:flex ;
    justify-content: center;
    color: #0074A7;
    font:22.71px Poppins,sans-serif;
    margin:0px 0px 8px;
}
.B-BBEE_calculation h5{
    display:flex ;
    justify-content: center;
    margin:24px;
    padding: 0 48px;
    font:18px poppins,sans-serif;
    text-align: center !important;
    color: #414042;
}

.B-BBEE_icons{
    display: flex;
    justify-content:space-between;  
}

/* .B-BBEE_btn{
    background-color: #0074A7;
    font-weight: 700;
    height: 50px;
    border-radius: 6px;
    margin-left: 350px;  
    width: max-content;
    font:20px Poppins,sans-serif;
    margin-bottom: 10px;
    padding:  6px 12px;
} */

.B-BBEE_btn:hover{
    background-color:#00638e;
}
.B-BBEE_btn a{
    text-decoration: none;
    color: #fff;
}
.B-BBEE_div{
    margin-bottom: 30px;  
}


/*Start of Digital Learning */
.digital_learning{
   padding: 48px 8px;
   margin: 0px 50px;
}

.digital_learning_paragraph{
    font:15px Poppins,sans-serif;
    color: #414042;
    margin: 0 17px;
    padding: 0 12px;
    text-align: center;  
}

.digital_learning_paragraph >p{
    text-align: center;
    line-height: 20px;
    margin: 0px 0px 16px; 
}

.digital_learning_paragraph h1{
    text-align:center;
    font:36px Poppins,sans-serif;
    margin: 0px 0px 24px;
}
span{
    color: #0074A7;
}
.digital_learning_paragraph_1{
    color: #f47a29af;
    padding-bottom: 14px;
}
.digital_learning_buttons{
    display: flex;
    justify-content: center;
    
}
.btns a {
    text-transform: uppercase;
    font:16px Poppins,sans-serif;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 0.375rem;
    border: none;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
}

.first_btn{
    margin: 4px 8px 4px 0px;
    padding: 6px 12px;
    background-color: #f47929;
}

 .second_btn{
    margin: 4px 0px;
    padding: 6px 12px;
    background-color: #00638e;
}
.first_btn:hover{
    background-color: #00638e;
}

.second_btn:hover{
    background-color: #5c636a;;
}

/* Start of Training */
.Training{
    background-color:#A4D2E7 ;
    padding: 16px 0px;  
}

.Training_div2{
 display: flex;
 justify-content: space-between;
 margin: 12px ;
}

.Training_div1 P{
    color: #414042;
    font-size: 16px;
    font-family: sans-serif;
}

 .Training_img1{
    display: flex; 
} 
.Training_img2{
    display: flex;
    margin-left: 5px;
}

 .Training_img1 h4{
    font:28px Poppins,sans-serif;
    color: #414042;
    margin: 0px 0px 8px; 
    font-weight: 700;
 }
.Training_img1 h6{
    font:20px Poppins,sans-serif;
    color: #414042;
    margin: 0px 0px 8px;
} 

.Training_img2 h4{
    font:28px Poppins,sans-serif;
    color: #414042;
    margin: 0px 0px 8px; 
    font-weight: 700;
}

.Training_img2 h6{
    font:20px Poppins,sans-serif;
    color: #414042;
    margin: 0px 0px 8px;
}

.Training_learners{
   margin: 0px 16px;
}


.Training_Omang h6{
    display:flex; 
}

.Training_Omang h4{
    justify-items: center;
}

.Training_p{
    text-align: center;
}

.Training_tablet{
    margin:0px 16px;

}
.Training_content{
    margin:0px 16px; 
}


/* Start of Computer */
.computer{
    padding: 48px 8px;
}

.computer_content{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 48px 24px 24px;
}

.computer_pic img{
    vertical-align: middle;
    padding: 0px 24px;
    width: 450px;
    height: auto;
    
}
.computer_msg{
    padding: 0px 24px;
     width: 499px;
     height: 368.17px;
}

.computer_msg h1{
    font:36px Poppins,sans-serif;
    margin: 0px 0px 24px;
}
.computer_msg h5{
    font:20px Poppins,sans-serif;
    margin: 0px 0px 8px;
    color: #0074A7;
}
.computer_msg p{
    font:14px Poppins,sans-serif;
    margin: 0px 0px 16px;
    line-height: 20px;
}

.computer_msg img{
    width: 400px;
    margin: 24px 0px; 
}

/* Start of revolution */
.revolution{
    background-color: #D1E8F3;
    padding: 48px 8px;
    font-family:Poppins,sans-serif;
}

.revolution_box{
    margin: 0px 137px;
    padding: 0px 12px; 
}

.revolution_box h1{
    font-size: 36px;
    margin: 0px 0px 8px;
    color: #414042;
    text-align: center;
}

.revolution_box p{
    font-size: 16px;
    margin: 0px 0px 16px;
    color: #414042;
    text-align: center;
}

.revolution_divs{
    /* margin: 0px 24px; */
    /* width: 1014px;
    height: 329.57px ; 
    width: 100%; */
    /* padding-right: 70px; */
}

/* .revolution_icons{
    margin:16px 0px;
    padding: 0px 24px;
    display: flex;
    align-items: center;
    
} */

.revolution_img{
    background-color: #0074A7; 
    border-radius: 12px;
    height: 124px !important;
    width:124px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 24px 0px 0px;
    
}
.revolution_img img{
  width: 93px;
}

.revolution_text{
    width: 311px;
    height: 132.79px;
}

.revolution_text h2{
    font-size:32px;
    margin: 0px 0px 4px;
    color: #414042; 
}
.revolution_text h5{
    font-size:20px;
    margin: 0px 0px 8px;
    color: #0074A7;
}
.revolution_text h6{
    font-size:14px;
    margin: 0px 0px 8px;
    color: #414042;
    font-weight: normal;
}

.revolution_group{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Start of Social Impact */
.social_impact{
    padding: 48px 8px;
    height: 400px;
    font-family:Poppins,sans-serif;
}

.social_impact_container{
    display: flex;
    justify-content: center;
}
/* .social_impact_image{
    padding: 0px 24px;
    width: 582px;
    height: 364.39px;
} */

.social_impact_image img{
    max-width: 100%;
    height: auto;
}
.social_impact_content{
    padding: 0px 24px;
    /* width: 582px; */
    /* height: 364.39px; */
    /* margin-right: 120px; */
}

.social_impact_text h1{
    font-size: 36px;
    /* margin: 0px 0px 8px; */
}

.social_impact_text >p{
    color: #414042;
    font-size: 16px;
    margin: 0px 0px 16px;
}

.social_impact_text .p1{
    margin: 0px 0px 24px;  
}

/* Start of Footer */

.social{
    background-color: #414042;
    position: relative;
    top: 250px;
}
.social_bar{
    padding: 16px 0px;
}
.social_icons{
    display: flex;
    justify-content:center; 
}

.social img{
    padding: 8px;
}

.social_copyright_text{
    color:#72797E;
    font:12px Poppins,sans-serif;
    padding: 16px;
    display: flex;
    justify-content: center;
}

.terms{
    margin: -2px 0 0 5px;
}
.social_copyright_text a{
    color: #fff;
    font:14px Poppins,sans-serif;
    cursor: pointer;
}

.call_back{
    text-align: center;
    margin: 40px 0px;
}
