
.background{
    background-color: #0074A7;
    margin: 10px 6px;
    padding: 16px;
    border-radius: 6px;
}

.top_div{
    background-color: #fff;
    border-radius: 6px;
    border: 3px solid #fff;
    padding-bottom: 32px 0;
    margin-bottom: 32px;
    padding: 16px;
}
.bottom_div{
    background-color: #fff;
    border: 3px solid #fff;
    border-radius: 6px;
    margin-bottom: 32px;
    padding: 16px;
    color: #414042;
    padding-left: 20px;
}
.bottom_div h5{
    font:20px Poppins,sans-serif;
    display: flex;
    justify-content: center;
    margin:0 0 8px;
}

.bottom_div > p{
    font:13px Poppins,sans-serif;
    font-weight:lighter;
    margin: 0px 0px 16px;
  
}

.top_div h4{
    display:flex ;
    justify-content: center;
    color: #0074A7;
    font:22.71px Poppins,sans-serif;
    margin:0px 0px 8px;
}
.top_div h5{
    display:flex ;
    justify-content: center;
    margin:24px;
    padding: 0 48px;
    font:18px poppins,sans-serif;
    text-align: center !important;
    color: #414042;
}

.icons{
    display: flex;
    justify-content:space-between;  
}

.btn{
    background-color: #0074A7;
    font-weight: 700;
    height: 50px;
    border-radius: 6px;
    margin-left: 350px;  
    align-items: center;
    display: flex;
    justify-content: center;
    width: max-content;
    font:20px Poppins,sans-serif;
    margin-bottom: 10px;
    padding:  6px 12px;
}

.btn:hover{
    background-color:#00638e;
}
.btn a{
    text-decoration: none;
    color: #fff;
}
.bee_div{
    margin-bottom: 30px;
    
}
#digital_learning{
   padding: 48px 8px;
   margin: 0px 50px;
   
}

.new_earning{
    margin: 0 50px;
    padding: 48px 8px;
}

.bbee{
    /* the font_size is 16px on the page, 
    i changed it so that the paragraph matches the on
     in the webpage*/
    font:15px Poppins,sans-serif;
    color: #414042;
    margin: 0 17px;
    padding: 0 12px;
    text-align: center;
    
}

.bbee >p{
    text-align: center;
    line-height: 20px;
    margin: 0px 0px 16px; 
}

.bbee h1{
    text-align:center;
    font:36px Poppins,sans-serif;
    margin: 0px 0px 24px;
}
span{
    color: #0074A7;
}
.para{
    color: #0074A7;
    padding-bottom: 14px;
}
.buttons{
    display: flex;
    justify-content: center;
    
}
.buttons a{
    text-transform: uppercase;
    font:16px Poppins,sans-serif;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 0.375rem;
    border: none;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
}

#first_btn{
    margin: 4px 8px 4px 0px;
    padding: 6px 12px;
    background-color: #0074A7;
}

 #second_btn{
    margin: 4px 0px;
    padding: 6px 12px;
    background-color: #414042;
}
#first_btn:hover{
    background-color: #00638e;
}

#second_btn:hover{
    background-color: #5c636a;;
}

.Training{
    background-color:#A4D2E7 ;
    padding: 16px 0px;
   
}

.Training_div2{
 display: flex;
 margin: 12px 16px;
 width: 100%;
}

.Training_div1 P{
    color: #414042;
    font-size: 16px;
    font-family: sans-serif;
}

.Training_div2 > div{
    margin: 8px 0px;
    padding: 0px 12px;
}

 .Training_img1{
    display: flex; 
    width: 100%;
} 
.Training_img2{
    display: flex;
    width: 100%;
    
}

 .Training_img1 h4{
    font:28px Poppins,sans-serif;
    color: #414042;
    margin: 0px 0px 8px; 
    font-weight: 700;
 }
.Training_img1 h6{
    font:20px Poppins,sans-serif;
    color: #414042;
    margin: 0px 0px 8px;
} 

.Training_img2 h4{
    font:28px Poppins,sans-serif;
    color: #414042;
    margin: 0px 0px 8px; 
    font-weight: 700;
}

.Training_img2 h6{
    font:20px Poppins,sans-serif;
    color: #414042;
    margin: 0px 0px 8px;
    
}

.pic{
   margin: 0px 16px;
}

.pic2{
    margin: 0px 16px;
}

.pic2 h6{
    display:flex; 
}

.pic2 h4{
    justify-items: center;
}

.last_p{
    text-align: center;
}

.paras_img{
    margin:0px 16px;

}
.paras{
    margin:0px 16px; 
}

.computer{
    padding: 48px 8px;
    /* background-color: aqua;  */
  
}

.divs{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;  
    margin: 48px 24px 24px;
}

.computer_pic img{
    vertical-align: middle;
    padding: 0px 24px;
    width: 451px;
    height: 338.74px;
    
}
.computer_msg{
    padding: 0px 24px;
     width: 499px;
     height: 368.17px;
}

.computer_msg a{
    text-transform: uppercase;
    font:16px Poppins,sans-serif;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 0.375rem;
    border: none;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
}

.btn1{
    padding: 6px 12px;
    background-color: #0074A7;
    margin: 4px 8px 4px 0px;
}

.btn2{
    padding: 6px 12px;
    background-color: #414042;
    margin: 4px 0px;
}

.btn1:hover{
    background-color: #00638e;
}

.btn2:hover{
    background-color: #5c636a;;
}

.computer_msg h1{
    font:36px Poppins,sans-serif;
    margin: 0px 0px 24px;
}
.computer_msg h5{
    font:20px Poppins,sans-serif;
    margin: 0px 0px 8px;
    color: #0074A7;
}
.computer_msg p{
    font:14px Poppins,sans-serif;
    margin: 0px 0px 16px;
    line-height: 20px;
}

.computer_msg img{
    width: 400px;
    margin: 24px 0px;
    
}

.revolution{
    background-color: #D1E8F3;
    padding: 48px 8px;
    font-family:Poppins,sans-serif;
}

.revolution_box{
    margin: 0px 137px;
    padding: 0px 12px; 
    
}

.revolution_box h1{
    font-size: 36px;
    margin: 0px 0px 8px;
    color: #414042;
    text-align: center;
}

.revolution_box p{
    font-size: 16px;
    margin: 0px 0px 16px;
    color: #414042;
    text-align: center;
}

.revolution_icons{
    margin: 0px 24px;
    /* display: flex;
    align-items: center; 
    justify-content: center;  */
    width: 1014px;
    height: 329.57px ; 
    width: 100%;
    padding-right: 70px;
    
}

.icon1{
    margin:16px 0px;
    padding: 0px 24px;
    display: flex;
    align-items: center;
    width:459px ;
    height:132.79px ;
}

.icon1_img{
    background-color: #0074A7; 
    border-radius: 12px;
    height: 124px !important;
    width:124px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 24px 0px 0px;
    
}
.icon1_img img{
  width: 93px;
}

.icon1_text{
    width: 311px;
    height: 132.79px;
}

.icon1_text h2{
    font-size:32px;
    margin: 0px 0px 4px;
    color: #414042; 
}
.icon1_text h5{
    font-size:20px;
    margin: 0px 0px 8px;
    color: #0074A7;
}
.icon1_text h6{
    font-size:14px;
    margin: 0px 0px 8px;
    color: #414042;
    font-weight: normal;
}


.icon2{
    margin:16px 0px;
    padding: 0px 24px;
    display: flex;
    align-items: center; 
    width:459px ;
    height:132.79px ;
}

/* .icon2_img{
    background-color: #0074A7; 
    border-radius: 12px;
    height: 124px;
    width:124px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 24px 0px 0px;
     
}*/
.icon2_img img{
  width: 93px;
}

.icon2_text{
    width: 311px;
    height: 132.79px;
}

.icon2_text h2{
    font-size:32px;
    margin: 0px 0px 4px;
    color: #414042; 
}
.icon2_text h5{
    font-size:20px;
    margin: 0px 0px 8px;
    color: #0074A7;
}
.icon2_text h6{
    font-size:14px;
    margin: 0px 0px 8px;
    color: #414042;
    font-weight: normal;
}


.icon3{
    margin:16px 0px;
    padding: 0px 24px;
    display: flex;
    align-items: center;
    width:459px ;
    height:132.79px ;
}

/* .icon3_img{
    background-color: #0074A7; 
    border-radius: 12px;
    height: 124px;
    width:124px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 24px 0px 0px;
    
} */
.icon3_img img{
  width: 93px;
}

.icon3_text{
    width: 311px;
    height: 132.79px;
}

.icon3_text h2{
    font-size:32px;
    margin: 0px 0px 4px;
    color: #414042; 
}
.icon3_text h5{
    font-size:20px;
    margin: 0px 0px 8px;
    color: #0074A7;
}
.icon3_text h6{
    font-size:14px;
    margin: 0px 0px 8px;
    color: #414042;
    font-weight: normal;
}

.icon4{
    margin:16px 0px;
    padding: 0px 24px;
    display: flex;
    align-items: center;
    width:459px ;
    height:132.79px ;
}

/* .icon4_img{
    background-color: #0074A7; 
    border-radius: 12px;
    height: 124px;
    width:124px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 24px 0px 0px;
    
} */
.icon4_img img{
  width: 93px;
}

.icon4_text{
    width: 311px;
    height: 132.79px;
}

.icon4_text h2{
    font-size:32px;
    margin: 0px 0px 4px;
    color: #414042; 
}
.icon4_text h5{
    font-size:20px;
    margin: 0px 0px 8px;
    color: #0074A7;
}
.icon4_text h6{
    font-size:14px;
    margin: 0px 0px 8px;
    color: #414042;
    font-weight: normal;
}

.group1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.group2{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.video{
    padding: 48px 8px;
    width: 1280px;
    height: 460.39px;
    font-family:Poppins,sans-serif;
}

.video_content{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.video_div{
    padding: 0px 24px;
    width: 582px;
    height: 364.39px;
}
.video_text_con{
    padding: 0px 24px;
    width: 582px;
    height: 364.39px;
}

.video_div img{
    width: 534px;
    height: 300.59px;
}

.video_text h1{
    font-size: 36px;
    margin: 0px 0px 8px;
}

.video_text >p{
    color: #414042;
    font-size: 16px;
    margin: 0px 0px 16px;
}

.video_text .p1{
    margin: 0px 0px 24px;  
}
.video_text a{
    text-transform: uppercase;
    font:16px Poppins,sans-serif;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 0.375rem;
    border: none;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
}
.video_text .btn_1{
    padding: 6px 12px;
    background-color: #0074A7;
    margin: 4px 8px 4px 0px;

}
.video_text .btn_2{
    padding: 6px 12px;
    background-color: #414042;
    margin: 4px 0px; 
}

.btn_1:hover{
    background-color: #00638e;
}

.btn_2:hover{
    background-color: #5c636a;;
}
