/* Base styles for the navigation */

@media (max-width: 480px) {
    .navigator{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .btn-collapse{
        display: block;
        margin-top: -30px;
    }
    .btn-collapse img{
        width: 35px;
        height: auto;
    }
    .collapse{
        display: none!important;
    }
    .nav-logo img{
        width: 100px;
        height: auto;
    }
  .donate{display: none;}
    
}



@media screen and (min-width: 481px) and (max-width: 768px) {
   
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
  
}

/* Additional styles for larger screens can be added here */


