
/* Base styles for the navigation */
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans',Helvetica,Arial,Lucida,sans-serif!important;
}
h1,h2,h3,h4,h5,h6, p{
    font-family: 'Nunito Sans',Helvetica,Arial,Lucida,sans-serif;
}

body,input,textarea,select {
    font-family: 'Nunito Sans',Helvetica,Arial,Lucida,sans-serif;
}
.navigator {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    padding: 18px 20px;
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #1b202b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.navigator img {
    height: 50px; 
    transition: all 0.3s ease;
}
.btn-collapse {
    display: none;
    cursor: pointer;
    border: none;
    padding: 0;
    width: 30px;
}
.btn-collapse img{
    background-color: #f47929;
}

.btn-collapse span {
    width: 30px;
    height: 4px;
    /* background: #333; */
    display: block;
    margin: 6px 0;
}

.collapse {
    display: flex;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Nunito Sans',Helvetica,Arial,Lucida,sans-serif;
}

.donate{
    background-color: #f47929;
    padding: 10px;
    border-radius: 3px;
    border: none;
}
.donate a{
    color: white;
}

a {
   text-decoration: none;
   color: #4a5568;
   position: relative; 
   transition: color 0.3s ease;
}
.nav-link{
    color: white;
    padding: 0 10px;
    font-weight: 200;
    font-family: 'Nunito Sans',Helvetica,Arial,Lucida,sans-serif;
}

/* Add an underline effect */
.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px; 
    background-color: #f47929; 
    transform: scaleX(0); 
    transform-origin: bottom;
    transition: transform 0.3s ease; 
}

.nav-link:hover::after {
    transform: scaleX(1); 
}

.nav-link:hover {
    padding-bottom: 15px;
}
.menu{
    display: block;
}
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }

.main-banner {
    min-height: 50vh;
    margin-top: 73px;
    background-image: url('./assets/img.png'); 
    background-size: cover; 
    background-position: 50%; 
    opacity: 80%;
}
.text{
    padding-top: 150px;
    padding-left: 80px;
    width: 45%;
}
.title{
    font-size: 39px;
    font-weight:700;
    margin-bottom: 30px;
}
.text h4{
    font-size: 15px;
    margin-top: -30px;
    font-weight: 600;
}
.span-color{
    font-size: 28px!important;
}
.verified{
    padding-top: 80px;
    padding-bottom: 20px;
    padding-left: 80px;
}
.text-primary{
    color: #ff6804;
}
.partners{
    margin-bottom: 120px;
}

.partner-section {
    display: flex;
    max-width: 100%;
    box-shadow: 0 4px 20px -8px rgba(0,0,0,.35);
}
.partner-section h1{
    width: 65%;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-left: 70px;
    margin-right: 60px;
    font-size: 45px;
    color: #4a5568;
}
.pt{
    margin-left: 5px;
}
.partners-slide {
    overflow: hidden;
}
.slick-list{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-left: 20px;
    list-style: none;
    padding: 0;
    animation: slide 45s linear infinite;
}

.list-slide {
    list-style: none; 
    padding-left: 20px;

}
.list-slide img{
    width: 120px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.details{
    padding: 20px 1px;
}

/* styling testimonials */
/* .cards-holder{
    position: relative;
    width: 100%;
    max-width: 100%;
} */
/* .main-card-wrapper{
    height: 600px;
    margin-top: 50px;
} */
.holder{
    padding: 10px;
    margin: 15px;
    margin-bottom: 20px!important;
    position: relative;
    top: 250px;
}
.card-wraper{
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}
.card-titles {
    margin: 20px;
}
.card{
    box-shadow: 0 1px 15px rgba(0,0,0,.2);
    margin: 15px;
    height: 400px;
    width: 300px;
    padding: 15px;
    box-sizing: border-box;
    transition: transform 0.5s;
    overflow-y:auto;
}
/* .centers{
    margin-left: 150px;
    margin-bottom: 40px;
} */
.card-titles h1{
    font: 31px poppins,sans-serif;
 margin-bottom: 13px;
}
.card-titles p {
    font: 20px, poppins, sans-serif;
    color: #4a5568!important;
   }
.card img {
    width: 250px;
    height: 150px;
}
.card h3{
    font-size: 31px;
    margin-bottom: 10px;
    color: #4a5568!important;
}

.card h5{
    margin-bottom: 25px;
    color: rgb(74, 85, 104) !important;
    font: 16px, poppins, sans-serif;
}
.card p{
    color: #414042c2;
    font-size: 15px;
}
.arrows{
    width: 40px;
    height: 40px;
    font-weight: 900;
    cursor: pointer;
}
.prevBtn{
    position: absolute;
    left: 70px;
    top: 300px;
}
.nextBtn{
    position: absolute;
    right: 70px;
    top: 300px;
}

/* Styling the FAQ */
.FAQ{
    margin: 100px;
    position: relative;
    top: 270px;
}
.FAQ-titles {
    text-align: center;
    margin-bottom: 50px;
}

.FAQ-titles h1{
    font: 31px poppins,sans-serif;
    margin-bottom: 20px;
   }
.FAQ-titles p {
    font: 20px poppins, sans-serif;
    color: #4a5568!important;
    }
    .dropdown-item{
        border-bottom: 2px solid rgba(71, 71, 71, 0.178);
    }
.dropdown-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: 12px 0;
    }
    .dropdown-header h3{
        color: #333a46e8;
        font: 19px poppins, sans-serif;
    }
.span img{
    width: 20px;
    height: 20px;
}
.span-down img{
    width: 20px;
    height: 20px;
}
.main-dropdown{
display: none;
}
.show{
    display: block;
}
.dropdown-collapse{
    display: flex;
    padding: 50px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.425);
    border-top: 1px solid rgba(128, 128, 128, 0.425);

}
.dropdown-collapse p{
    word-spacing:1px ;
}
.span-img img{
    width: 85px;
    height: 85px;
    margin-right: 20px;
}
